 <h1>All of the students</h1>


<% for student in @students%>
  <h4>Student</h4>
  <p>ID: <%=student.id%></p>  
  <p>First Name: <%=student.first_name%></p>
  <p>Last Name: <%=student.last_name%></p>
  <p>House: <%=student.house%></p>
  <p>Age: <%=student.age%></p>
  <hr>
<% end %>

<h1>End of students</h1>
